{{#each lights}}
  <div class="light-button" data-id="{{@key}}">
    <div class="icon {{#if state}}icon-light-activated{{else}}icon-light{{/if}}"></div>
    <div class="light-name">{{name}}</div>
  </div>
{{/each}}
