<div class="weather-wrapper">
   <img src="{{current_condition.[0].weatherIconUrl.[0].value}}"/>
   <div>{{current_condition.[0].temp_C}}˚</div>
   <div>Feels {{current_condition.[0].FeelsLikeC}}˚</div>
</div>
