<div class="weather-wrapper">
   <img src="{{current_condition.[0].weatherIconUrl.[0].value}}"/>
   <div class="temperature">{{current_condition.[0].temp_C}}˚</div>
   <div class="temperature-feels">Feels {{current_condition.[0].FeelsLikeC}}˚</div>
</div>
