<div class="weather-wrapper">
   <img src="{{current.icon}}"/>
   <div class="temperature">{{current.temp}}˚</div>
   <div class="temperature-feels">Feels {{current.feels}}˚</div>
   <div>Last updated at {{moment current.updated_at "HH:mm"}}</div>
</div>
