<div class="modal-wrapper power-modal">
  <div class="button" data-type="shutdown">
    <div class="icon icon-shutdown"></div>
    <div>Shutdown</div>
  </div>
  <div class="button" data-type="reboot">
    <div class="icon icon-restart"></div>
    <div>Reboot</div>
  </div>
  <div class="button" data-type="update">
    <div class="icon icon-update"></div>
    <div>Update</div>
  </div>
  <div class="button" data-type="cancel">
    <div class="icon icon-cancel"></div>
    <div>Cancel</div>
  </div>
</div>
