.overview-page {
  display: flex;

  @import "../components/time";
  @import "../components/weather";

  > .left-column {
    flex: 3;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  > .right-column {
    flex: 1;
  }
}
