.overview-page {
  padding: 20px;
  display: flex;

  @import "../components/time";
  @import "../components/weather";

  .time-container {
    flex: 1;
  }

  .weather-container {
    text-align: right;
    flex: 1;
  }
}
