.weather-container {
  &,
  .weather-wrapper {
    height: 100%;
  }

  .weather-wrapper {
    display: flex;
    flex-flow: column nowrap;
  }

  .conditions {
    display: flex;
    justify-content: space-around;
  }

  .wind {
    text-transform: uppercase;
    font-size: .75rem;
    line-height: 1rem;
  }

  .weather-image {
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: 50%;
    margin-left: 10px;
  }

  .description {
    color: #aaa;
  }

  .temperature {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 10px 0;

    .left-column,
    .right-column {
      flex: 2;
    }

    .temperature-now {
      font-size: 3.5rem;
      font-weight: bold;
      text-align: center;
    }

    .right-column {
      display: flex;
      flex-flow: column nowrap;
      text-align: left;

      div {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        span {
          margin: 0 5px;
        }
      }
    }

    .description {
      font-size: .75rem;
    }
  }

  .chance-rain {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 5px;
    background: rgba(0, 102, 197, 0);

    .icon {
      text-align: center;
      font-size: .75rem;
      line-height: 40px;
    }
  }

  .last-updated {
    margin-top: auto;
    align-self: flex-end;
    font-size: .75rem;
  }
}
